html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: lightgray;
}

#nav-bar-area {
    width: 100%;
    height: 5vh;

    background-color: black;
}